{{! https://handlebarsjs.com/guide/block-helpers.html#block-parameters }}

<h2>Welcome, {{name}}!</h2>

<div class="art-list">
  {{#each artworks as |artwork|}}
      <div>
        <img src="/assets/{{artwork.name}}.jpg" class="artwork"> </img>
      </div>
    <h4 class="titles name-{{id}}">{{name}}</h4>
    <h4 class="titles price-{{id}}">{{price}}</h4>
  {{/each}}
</div>

<p class="total titles"></p>

<p class="storeItems titles"></p>

<div class="btn submitOrder titles">
  <a href="/receipt">Submit Order</a>
</div>

<script src="/js/cart.js"></script>