<!-- Loop over each object in the projects array -->
{{#each artworks as |artwork| }}
<div class="row mb-4 artwork">
  <div class="col-md-5">
    <h2>
      {{!-- <a href="/artwork/{{artwork.id}}"> --}}
      {{artwork.name}}
      {{!-- </a> --}}
    </h2>
    <img src="/assets/{{artwork.name}}.jpg"> </img>

    <p>Artist Name: {{artwork.artist}}</p>
    <p>Price: {{artwork.price}}</p>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{artwork.id}}">Add to Cart</button>
      </div>
  </div>
</div>
{{/each}}

<script src="/js/gallery.js"></script>
